<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%= @page_title ? "#{@page_title} | MyAdmin" : "MyAdmin" %></title>

	<%= javascript_include_tag :defaults %>

	<%
	@controller_name = controller.controller_name
	@action_name = controller.action_name
	%>
	<%= stylesheet_link_tag("/my_admin/my_admin") %>

</head>

<%= yield %>
